.reaction{
    margin: 10px;
    float: left;
}

.clear{
    clear: both;
}

td{
    border-bottom: 1px solid;
}

table{
    width: 50%;
}

.flex{
    display: flex;
}

.separator{
    margin-left: 5px;
    margin-right: 5px;
}

.content{
    margin-left: 5px;
}

.current_user{
    margin: 10px;
}

.profile_screen_name{
    font-size: large;
    font-weight: bold;
}

.profile_user_name{
    color: gray;
}

.config_profile{
    margin-left: 10px;
    margin-right: 10px;
}
.new_tweet{
    margin: 10px;
}

.tweet_btn{
    margin: 10px 0px 10px 0px;
    text-align: right;
}

.tweet_text_area{
    margin: 10px 0px 10px 0px;
}

.left_container{
    margin-left: 10px;
}

.linkbox{
    position: relative;
}

.linkbox a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
